@model int 
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted</h1><br />
        
    </div>
    <div class="col-12 text-center" style="color:maroon">      
        Order Number: @Model
    </div>
</div>

